.vs/slnx.sqlite
.vs/vila_tour_di/v16/.suo
vila_tour_di/bin/Debug/vila_tour_di.exe
vila_tour_di/bin/Debug/vila_tour_di.pdb
vila_tour_di/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
vila_tour_di/obj/Debug/vila_tour_di.csproj.AssemblyReference.cache
vila_tour_di/obj/Debug/vila_tour_di.csproj.CoreCompileInputs.cache
vila_tour_di/obj/Debug/vila_tour_di.csproj.FileListAbsolute.txt
vila_tour_di/obj/Debug/vila_tour_di.csproj.GenerateResource.cache
vila_tour_di/obj/Debug/vila_tour_di.exe
vila_tour_di/obj/Debug/vila_tour_di.pdb